@model Pacote

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Adicionar um novo pacote</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="NomePacote"></label>
			<input asp-for="NomePacote" class="form-control" />
			<span asp-validation-for="NomePacote" class="text-danger"></span>
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="ConteudoPacote"></label>
			<input asp-for="ConteudoPacote" class="form-control" />
			<span asp-validation-for="ConteudoPacote" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width: 150px"><i class="bi bi-plus-square"></i> &nbsp; Adicionar</button>
		<a asp-controller="Pacote" asp-action="Index" class="btn btn-secondary" style="width: 150px"><i class="bi bi-arrow-return-left"></i> &nbsp;
			Retornar Lista

		</a>
	</div>

</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}
	
