@model IEnumerable<Pacote>
@{
    ViewData["Title"] = "Index";
}

<h1>Pacotes</h1>

<table class="table table-bordered table-striped" style="width: 100%">
	<thead>
		<tr>
			<th>
				Nome do Pacote
			</th>
			<th>
				Conteudo Pacote
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td width="50%">
					@obj.NomePacote
				</td>
				<td width="30%">
					@obj.ConteudoPacote
			</tr>
		}
	</tbody>
</table>